body {
  background-color: #1e8299;
}

.container {
  margin-top: 30px;
  float: right;
  text-color: black;
}

.sidebar {
  float: left;
  margin-left: 90px;
}

.well {
  width: 450px;
  height: 528px;
  margin-left:-75px;
  margin-top: 35px;
  background-color: #d8d0de
}

h1 {
  color: #1e8299;
  text-align: center;
  font-family: 'Lobster', cursive;
}

h2 {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-family: inherit;
}

#thirty-three {
  float: right;
  margin-top: -50px;
}

#educator {
  float: right;
  width: 300px;
}

#enthusiasm {
  float: right;
  width: 175px;
}

#katya {
  float: right;
  width: 420px;
}

#button {
  float: right;
  width: 200px;
}

ul {
  font-size: 20px;
  font-family: sans-serif;
  text-align:left;
}

p {
  font-family: sans-serif;
}

.highlight {
  color: #003c51;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #5a3972;
    color: white;
}
