body {
  background-color: #1e8299;
}

h1 {
  color: #1e8299;
  text-align: center;
  font-family: 'Lobster', cursive;
}

h2 {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-family: inherit;
}
img {
  float: right;
}
ul {
  font-size: 20px;
  font-family: sans-serif;
}
p {
  font-family: sans-serif;
}

.highlight {
  color: #003c51;
  font-weight: bold;
}

@media query {

}
